/* Coolors Exported Palette - coolors.co/17bebb-eef4d4-f56476-ef8354-e43f6f */

/* HSL */
$color1: hsla(179%, 78%, 42%, 1);
$color2: hsla(71%, 59%, 89%, 1);
$color3: hsla(353%, 88%, 68%, 1);
$color4: hsla(18%, 83%, 63%, 1);
$color5: hsla(343%, 75%, 57%, 1);

/* RGB */
$color1: rgba(23, 190, 187, 1);
$color2: rgba(238, 244, 212, 1);
$color3: rgba(245, 100, 118, 1);
$color4: rgba(239, 131, 84, 1);
$color5: rgba(228, 63, 111, 1);